@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: "Lato", sans-serif;
  position: fixed;
  overflow-x: hidden;
  background-color: #201e1f;
  color: white;
}
